#titulo{
    color: white;
    text-align: center;
    float: top;
    font-family: 'Sacramento', cursive;
    font-size: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 160px;
    background-color: green;
}

#logo_naturalia{
float: left;
margin: 0.3em 1em 1em 1em;
    padding-top: 15px ;
    padding-bottom: 15px;
}

.menu{
    position: relative;
    list-style: none;
    background: #8EF35E;
    width: 100%;
    justify-content: center;
    padding: 0px;
    align-items: center;
    margin: 0px;
}
.menu li a{
    text-decoration: none;
    color:white;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:10px 50px 10px 60px;
}

.menu li{
    margin:0px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.menu li:hover {
    background: #C2FEB7;
}

#index_menu{
    font-family: 'Koulen', cursive;
    font-size: 25px;
    color: green;
    padding: 10px 10px 10px 23px;

}


#noticias_menu{
    font-family: 'Koulen', cursive;
    font-size: 25px;
    color: green;
    padding: 10px 0px 10px 0px;
}

#objetivo_menu{
    font-family: 'Koulen', cursive;
    font-size: 25px;
    color: green;
    padding: 10px 0px 10px 0px;
}

#ayudanos_menu{
    font-family: 'Koulen', cursive;
    font-size: 25px;
    color: green;
    padding: 10px 0px 10px 0px;
}

#contacto_menu{
    font-family: 'Koulen', cursive;
    font-size: 25px;
    color: green;
    padding: 10px 0px 10px 0px;
}

#body_index{
    background-image: url("Imagenes/fondo_blanco.jpg");
}
#impacto{
    font-family: 'Caveat', cursive;
    font-size: 65px;
    color: #DF6F0C;
    margin-top: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#texto_index{
    font-family: 'M PLUS Rounded 1c', sans-serif;
font-size: 23px ;
    margin: 80px 120px 0px 120px;
   line-height: 55px;
    text-align: center;
    color: olive;
    font-weight: bold;
}

#tres_impactos{
    background-color: darkolivegreen;
    margin: 50px 120px 50px 120px;
}

#ochoeme{
vertical-align: middle;

}
#impacto1{
font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 27px;
    font-weight: bold;
}

#veinticinco{
    vertical-align: middle;
}
#impacto2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#noventayseis{
    vertical-align: middle;
}

#impacto3{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#impacto4{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 33px ;
    margin: 80px 60px 60px 60px;
    line-height: 75px;
    text-align: center;
    color: #DF6F0C;
    font-weight: bold;
}
#acuario{
    margin: 100px 0px 60px 0px;
    border: 5px solid #DF6F0C;
}



#footer{
    background-color: green;
    margin: 0px;
    padding: 0px;
    position: center;
    text-align: center;

}

#footer_naturalia{

}
#titulo_footer{
color: white;
    font-family: 'Sacramento', cursive;
    font-size: 45px;

}
#logo_footer{
    justify-content: center;
    padding: 15px 15px 8px 15px;
}


#redes_sociales{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

#facebook{
padding: 10px;
}

#instagram{
    padding: 10px;
}

#twitter{
    padding: 10px;
}



#organizaciones{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    padding-top: 8px;
}

#ize{
    padding: 20px 10px 20px 10px;

}
#iucn{
    padding: 20px 10px 20px 10px;

}

#rspo{
    padding: 20px 10px 20px 10px;

}

#iaapa{
    padding: 20px 10px 20px 10px;

}

#noticias{
    font-family: 'Caveat', cursive;
    font-size: 70px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    color: green;
}

#titulo_noticia1{
    font-family: 'Abel', sans-serif;
    background-color: mediumpurple;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    border: 0px;
    font-size: 40px;
}

#cuerpo_noticia1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    background-color: mediumpurple;
    margin: 0px;
    padding-top: 30px ;
    padding-right: 50px;
    padding-left: 25px;
    padding-bottom: 75px;
    border: 0px;
    text-align-all: justify;
    line-height: 38px;
}

#noticia1{
    background-color: mediumpurple;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 30px;
    padding: 0px;
    border: 0px;
    float: right;
    box-shadow: 1px 5px 10px black;
}

#noticia1:hover{
    transform: scale(1.1);
}

#titulo_noticia2{
    font-family: 'Abel', sans-serif;
    background-color: #DCA525;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 25px;
    border: 0px;
    font-size: 40px;
}

#cuerpo_noticia2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    background-color: #DCA525;
    margin: 0px;
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 15px;
    padding-bottom: 75px;
    border: 0px;
    text-align-all: justify;
    line-height: 38px;
}
#noticia2{
    background-color: #DCA525;
    margin-left: 0px;
    margin-right: 40px;
    margin-bottom: 20px ;
    margin-top: 20px ;
    padding: 0px;
    border: 0px;
    float: left;
    box-shadow: 1px 5px 10px black;
}

#noticia2:hover{
    transform: scale(1.1);
}

#titulo_noticia3{
    font-family: 'Abel', sans-serif;
    background-color: #1B8FA0;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 25px;
    border: 0px;
    font-size: 40px;
}

#cuerpo_noticia3{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    background-color: #1B8FA0;
    margin: 0px;
    padding-top: 20px ;
    padding-right: 50px;
    padding-left: 25px;
    padding-bottom: 75px;
    border: 0px;
    text-align-all: justify;
    line-height: 42px;
}

#noticia3{
    background-color: #1B8FA0;
    margin-bottom: 40px;
    margin-top:0px ;
    margin-right: 30px;
    margin-left: 50px;
    padding: 0px;
    border: 0px;
    float: right;
    box-shadow: 1px 5px 10px black;
}

#noticia3:hover{
    transform: scale(1.1);
}

#titulo_noticia4{
    font-family: 'Abel', sans-serif;
    background-color: #DF85D2;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 25px;
    border: 0px;
    font-size: 40px;
}

#cuerpo_noticia4{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    background-color: #DF85D2;
    margin-bottom: 55px;
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 15px;
    padding-bottom: 75px;
    border: 0px;
    text-align-all: justify;
    line-height: 38px;
}
#noticia4{
    background-color: #DF85D2;
    padding: 0px;
    margin-left: 50px;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 50px;
    border: 0px;
    float: left;
    box-shadow: 1px 5px 10px black;
}

#noticia4:hover{
    transform: scale(1.1);
}

#titulo_objetivo{
    font-family: 'Caveat', cursive;
    font-size: 75px;
    text-align: center;
    color: #1B8FA0;
    margin-top: 55px;
    margin-bottom: 25px;
    margin-left: 15px;
    font-weight: bold;
}

#cuerpo_objetivo{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-size: 23px;
    margin-top: 90px;
    margin-left: 220px ;
    margin-right:220px ;
    line-height: 65px;
    font-weight: bold;
}

#seis_objetivos{
    background-color: #EBFFE8;
    margin-top: 50px;
}

#imagen_nube{
    border: 3px solid green;
    margin: 50px 30px 30px 100px;
    vertical-align: middle;
}

#cuerpo_nube{
font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
}

#imagen_gota{
    border: 3px solid green;
    margin: 30px 30px 30px 100px;
    vertical-align: middle;
}

#cuerpo_gota{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
}

#imagen_garra{
    border: 3px solid green;
    margin: 30px 30px 30px 100px;
    vertical-align: middle;
}
#cuerpo_garra{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
}

#imagen_mano{
    border: 3px solid green;
    margin: 30px 30px 30px 100px;
    vertical-align: middle;
}

#cuerpo_mano{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
}

#imagen_arbol{
    border: 3px solid green;
    margin: 30px 30px 30px 100px;
    vertical-align: middle;
}
#cuerpo_arbol{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
}

#imagen_mar{
    border: 3px solid green;
    margin: 30px 30px 50px 100px;
    vertical-align: middle;
}
#cuerpo_mar{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
}

/*YOUTUBE!!!!!!!!!!!!!!!!!!!!!!*/
#titulovideo{
    font-family: 'Caveat', cursive;
    font-size: 75px;
    text-align: center;
    color: #1B8FA0;
    margin-top: 55px;
    margin-bottom: 25px;
    margin-left: 15px;
    font-weight: bold;
}

#videoyt{
    text-align: center;
}

#video{
    padding: 50px;
    background-color: darkred;
    position: center;
    margin: 40px;
}

#titulo_celebridades{
    font-family: 'Caveat', cursive;
    font-size: 75px;
    text-align: center;
    color: #1B8FA0;
    margin-top: 55px;
    margin-bottom: 25px;
    margin-left: 15px;
    font-weight: bold;
}

.celebridadesfila1{
    width: 1050px;
    height: auto;
    position: relative;
    margin: auto;
}

.imagentexto{
    width: 340px;
    height: auto;
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;

}

.imagencelebridad{

    width: 80%;
    height: 200px;
    position: relative;
    display: inline;
    border-radius: 60%;
    margin: 50px 30px 8px 30px;
    border: 2px solid black;
}

.textocelebridad{
    height: auto;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.celebridadesfila2{
    width: 1024px;
    height: auto;
    position: relative;
    margin: auto;

}

.imagentexto2{
    width: 360px;
    height: auto;
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin: 20px 50px 0px 50px;

}

.imagencelebridad2{
    width: 80%;
    height: 200px;
    position: relative;
    display: inline;
    border-radius: 60%;
    margin: 50px 40px 8px 40px;
    border: 2px solid black;

}

.textocelebridad2{
    height: auto;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    margin-bottom: 90px;
}

#body_ayudanos{
    background-image: url("Imagenes/fondo_blanco.jpg");
}
#titulo_dona{
    font-family: 'Caveat', cursive;
    font-size: 75px;
    text-align: center;
    color: #8E44AD;
    margin-top: 35px;
    margin-bottom: 75px;
    margin-left: 15px;
    font-weight: bold;
}

#texto_donaciones{
font-family: 'Abel', sans-serif;
    font-size: 40px;
    line-height: 80px;
    margin: 0px 25px 50px 55px;
    text-align: justify;
}

#mujer_mundo{
float: right;
    margin: 0px 55px 0px 40px;
box-shadow: 2px 2px 4px black ;
}

#donaciones{
    text-align: center;
    background-color: #D2B4DE;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#boton_donar{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    font-size: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    background-color: #8E44AD;
    border-radius: 6px;
    margin-bottom: 45px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#boton_donar:hover{
    background-color: mediumpurple; /* Green */
    color: black;
}

#titulo_merch{
    font-family: 'Caveat', cursive;
    font-size: 75px;
    text-align: center;
    color: #8E44AD;
    margin-top: 35px;
    margin-bottom: 75px;
    margin-left: 15px;
    font-weight: bold;
}
.merchandising li {
    display: inline-block;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    color: green;
    font-weight: bold;
}

.merchandising input[type="checkbox"][id^="cb"] { /*HACE INVISIBLES LOS CASILLEROS*/
    display: none;
}

.merchandising label {
    border: 1px solid transparent;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;

}

.merchandising label::before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.merchandising label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.merchandising :checked+label {
    border-color: transparent;
}

.merchandising :checked+label::before {
    content: "✓";
    background-color: #8EF35E;
    transform: scale(1);
}

.merchandising:checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 8px #333;

}
.merch_img_size {
    width:200px !important;
    height:200px !important;
    align-content: center;
    margin: 0px 35px 0px 35px;
}
#div_merch{
    text-align: center;
    margin-bottom: 180px;
    margin-top: 40px;
}
#boton_comprar{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: green;
    cursor: pointer;
    font-size: 28px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 70px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#boton_comprar:hover{
    background-color: #8EF35E; /* Green */
    color: black;
}


#titulo_contacto{
    font-family: 'Caveat', cursive;
    font-size: 60px;
    text-align: center;
    color: #9D0C02;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 15px;
    font-weight: bold;
}

#completar{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
}
#form_contacto{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;

    padding: 25px;
    background-color: #FCEAE9;
}

#yaguarete{
    float: right;
    margin-top: 25px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}